@import url('/css/Accordion/index.css');
@import url('/css/AppBar/index.css');
@import url('/css/Background/index.css');
@import url('/css/Button/index.css');
@import url('/css/BgButton/index.css');
@import url('/css/Box/index.css');
@import url('/css/Drawer/index.css');
@import url('/css/FileInput/index.css');
@import url('/css/FlexBox/index.css');
@import url('/css/Footer/index.css');
@import url('/css/Form/index.css');
@import url('/css/Grid/index.css');
@import url('/css/HBox/index.css');
@import url('/css/Header/index.css');
@import url('/css/Input/index.css');
@import url('/css/Line/index.css');
@import url('/css/Link/index.css');
@import url('/css/Modal/index.css');
@import url('/css/Section/index.css');
@import url('/css/Select/index.css');
@import url('/css/Small/index.css');
@import url('/css/Snackbar/index.css');
@import url('/css/Span/index.css');
@import url('/css/SubHeader/index.css');
@import url('/css/Table/index.css');
@import url('/css/Textarea/index.css');
@import url('/css/VBox/index.css');
@import url('/css/StyledInput/index.css');
@import url('/css/Loader/index.css');
@import url('/css/IFrame/index.css');

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #3498db;
    --main-color-strong: #2986c4;
    --main-color-light: #daebf6;
    --neutral-color: #FCFCFC;
    --light-gray-color: #F9F9F9;
    --gray-color: #F1F1F4;
    --dark-gray-color: #808080;
    --invert: 0;
    --normal-font-size: 0.9rem;
    --small-font-size: 0.8rem;
    --large-font-size: 1.1rem;
    --very-large-font-size: 1.3rem;
    --border-radius: 5px;
    --large-border-radius: 10px;
    --big-padding: 25px;
    --padding: 20px;
    --small-padding: 15px;
    --half-padding: 10px;
    --quarter-padding: 5px;
    --section-width-default: 0.8;
    --section-width-mobile: 0.9;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(150, 150, 150, 0.4);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(120, 120, 120, 0.7);
}

::-webkit-scrollbar-track {
    background: transparent;
}