.textarea {
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-color);
}

.textarea:focus {
    outline: none;
}

textarea:read-only {
    background-color: var(--light-gray-color);
}

@media (max-width: 576px) {
    .textarea {
        width: 100%;
    }
}