.modal {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal .modal-content {
    z-index: 2;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    min-width: 300px;
}

.modal.open {
    display: flex;
}