.skeleton {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.skeleton .line {
    height: 1rem;
    width: 100%;
    background: linear-gradient(
        90deg,
        #e0e0e0 25%,
        #f5f5f5 37%,
        #e0e0e0 63%
    );
    background-size: 400% 100%;
    animation: skeleton-loading 1.4s ease infinite;
    border-radius: 4px;
}

.table-container .skeleton .line {
    width: calc(100% - 2rem);
    margin: auto;
    margin-top: 1rem;
}

@keyframes skeleton-loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
