.footer {
    width: calc(100% - var(--padding) * 2);
    padding: var(--padding);
    background-color: var(--text-color);
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}