.drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color: white;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    border-right: 2px solid var(--gray-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.drawer .bgButton {
    margin: var(--padding) var(--small-padding) var(--small-padding);
}

.drawer-content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--padding);
    padding-top: 0px;
}

.drawer-content .background {
    filter: invert(0.3);
}

.drawer-content .link {
    border-radius: var(--border-radius);
    transition: ease-in 0.1s;
    padding: var(--half-padding);
    padding-left: var(--big-padding);
    position: relative;
}

.drawer-content .link::before {
    content: '';
    position: absolute;
    left: var(--half-padding);
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-color: var(--gray-color);
}

.drawer-content .link:hover {
    background-color: var(--light-gray-color);
}

.drawer-content .span {
    padding: var(--half-padding) 0px;
}

.drawer-content .small.span-subgroup {
    padding: var(--half-padding);
}

.drawer.open {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .drawer {
        width: 100vw;
    }
}